<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="ru.otus.spring.reader.StudentTestReaderImpl" name="studentTestReader">
        <property name="fileName" value="/StudentTest.csv"/>
        <property name="delimiter" value="\|"/>
    </bean>

    <bean id="studentTestPrinter" class="ru.otus.spring.printer.StudentTestPrinterImpl"/>

    <bean name="studentTestService" class="ru.otus.spring.service.StudentTestServiceImpl">
        <constructor-arg name="reader" ref="studentTestReader"/>
        <constructor-arg name="printer" ref="studentTestPrinter"/>
    </bean>

</beans>